

<input type="text" name="serverNameInput" 
        id="input${1/(\w+)/\u\1/g}" class="form-control" 
        value="" required="required" pattern="" title=""
        [(ngModel)]="serverName">

<button type="button" class="btn btn-default"
 [disabled]="noOfServers > 5" (click)="onServerCreated($event)">Add New Server</button>
 
 <p *ngIf="noOfServers > 0; else noServer">New server {{ serverName }} was added</p>
 <ng-template #noServer>
         <p>No server was created !</p>
 </ng-template>

<app-server></app-server>
